.wrapper {
    background-color: blanchedalmond;
    padding: 5rem 0;
}

.contentWrapper {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

.itemsWrapper {
    border: 1px solid #eaeaea;
    padding: 1rem;
    border-radius: 5px;
}

.paymentDetails {
    padding: 2rem;
    background-color: #b0c4de91;
}

.orderSummary {
    padding: 2rem;
}






/* MEDIA QUERIES */
@media (max-width: 700px) {

    .wrapper {
        padding: 0;
    }    

    .contentWrapper {
        width: 100%;
        grid-template-columns: 1fr;
    } 

    .addressContainer {
        width: 100%;
        height: auto;
    }

}