
.wrapper {
    display: grid;
    width: 100%;
    height: 10vh;
    grid-template-columns:  1fr 50% 1fr;
    border-bottom: 1px solid #797979;
    position: relative;

}


.menuContainer {
    display: grid;
    justify-items: center;
    align-items: center;
}

.menuContainer ul {
    list-style: none;
    display: grid;
    height: 100%;
    align-items: start;
    grid-template-columns:  1fr 1fr 30% 1fr 1fr;
}


.menuContainer li {
    /* border: 1px solid #eaeaea; */
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.menuContainer li:not(:nth-child(3)) {
    padding-top: 2.5rem;
}

.searchContainer {
    position: relative;
}

.logo {
    width: 100%;
    padding: 1.5rem 3rem 1rem 2rem;
}

.logo img {
    height: 100%;
    width: 100%;
}


.image {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
}

.image img {
    width: 100%;
    height: 100%;
}

.infoContainer {
    position: relative;
    display: grid;
}

.infoIcons {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    justify-content: start;
    align-items: center;
    width: 10%;
}

.infoIcons img {
    width: 100%;
    height: 100%;
}

.accountIcon {
    width: 100%;
}

.cartIcon {
    width: 100%;
    margin-left: 20px;
} 