
.wrapper {
    display: grid;
    width: 100%;
    height: 10vh;
    grid-template-columns:  1fr 50% 1fr;
    border-bottom: 1px solid #797979;
    position: relative;
    z-index: 10;
}


.infoContainer {
    position: relative;
    display: grid;
}

.infoIcons {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    justify-content: start;
    align-items: center;
    width: 10%;

}

.infoIcons img {
    width: 100%;
    height: 100%;
}

.accountIcon {
    width: 100%;
}

.cartIcon {
    width: 100%;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
} 

.cartCounter {
    position: absolute;
    background-color: rgb(199, 2, 2);
    top: -50%;
    right: -60%;
    z-index: 1;
    border-radius: 100%;
}

.cartCounter span {
    padding: .4rem .6rem;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

.shop {
    position: relative;
}

.menuContainer {
    display: grid;
    justify-items: center;
    align-items: center;

}

.menuContainer ul {
    list-style: none;
    display: grid;
    height: 100%;
    align-items: start;
    grid-template-columns:  1fr 1fr 30% 1fr 1fr;
}


.menuContainer li {
    /* border: 1px solid #eaeaea; */
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.menuContainer li:not(:nth-child(3)) {
    padding-top: 2.5rem;
}

.searchContainer {
    position: relative;
}

.logo {
    width: 100%;
    padding: 1.5rem 3rem 1rem 2rem;
}

.logo img {
    height: 100%;
    width: 100%;
}


/* .image {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
} */

.image img {
    width: 100%;
    height: 100%;
}

.barIcon {
    display: none !important;
}

.searchIcon {
    display: block !important;
}









/* MEDIA QUERIES */

@media (max-width: 700px) {
    .wrapper {
        grid-template-columns:  1fr 60% 1fr;
    }
    .menuContainer li:not(:nth-child(3)) {
        display: none;
    }

    .searchContainer {
        display: grid;
        align-items: center;
        height: inherit;
    }

    .logo {
        padding: .8rem 1.5rem !important;
        grid-column: span 4;
        height: 65%;
        padding-top: 1rem !important;
    }
    .infoIcons {
        top: 35%;
        left: 40%;
        width: 50%;
    }

    .cartCounter span {
        padding: .5rem .5rem;
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
    }
    .barIcon {
        display: block !important;
        opacity: 0.4;
    }

    .searchIcon {
        display: none !important;
    }

    .image {
        width: 30%;
    }

}



@media ((min-width: 701px) and (max-with: 1500px)) {
    .wrapper {
        grid-template-columns:  1fr 70% 1fr;
    }
    .menuContainer li:not(:nth-child(3)) {
        display: none;
    }

    .logo {
        padding: .5rem !important;
        grid-column: span 4;
        height: 65%;
        padding-top: 1rem !important;
        /* background-color: red; */
    }
}



@media (max-width: 1024px) and (min-width: 701px) {

    .menuContainer {
        font-size: .8rem;
    }

    /* .image {
     
    } */

    .logo {
        width: 70%;
        padding: 0;
        margin-top: 2rem;
    } 

    .infoIcons {
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15%;
    }
    
    
}

@media (max-width: 800px) and (min-width: 701px) {

    .infoIcons {
        width: 20%;
    }
    
}