.wrapper {
    margin-top: 2rem;
    animation: displayForm 1.2s ease 0s;
    animation-fill-mode: forwards;
    visibility: hidden;
    transition: all 1s ease;
    opacity: 0;
}

@keyframes displayForm {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.info {
    color: #9b1717;
    display: block;
    margin-bottom: 1rem;
}

.formContainer {
    padding-right: 1rem;
}

.additionalInfo {
    margin-top: 1rem;
}

.additionalInfo textarea {
    width: 100%;
    height: 100px;
}

.locationContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.locationContainer > div {
    padding: 5px 0;
}



/* MEDIA QUERIES */


@media (max-width: 700px) {
    .wrapper {
        width: 100vw;
    }
    .locationContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}