.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: 14vh;
    border-bottom: 1px solid #585858;
    z-index: 120;
    display: block;
}

.closeSearchBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: 14vh;
    border-bottom: 1px solid #585858;
    z-index: 120;
    display: none;
}

.wrapper p {
    text-align: center;
}

.inputWrapper {
    background-color: red;
    /* height: max-content; */
}

.inputWrapper input {
    width: 60%;
    height: 60px;
    margin: 0 auto;
    /* margin-left: 20px; */
    font-size: 1.1rem;
}

.inputWrapper input::placeholder {
    font-size: 1.2rem;
    padding-left: 5px;
}