.wrapper {
    margin: 10rem 0;
}
.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 0 auto;
    grid-auto-rows: 300px;
    grid-gap: 1rem;
}

.content div {
    background-color: rgb(58, 255, 41);
}

.box1 {
    grid-column: span 2;
}

.box6 { 
    grid-column-start: span 2;
}

.box4 {
    /* grid-column: span 2; */
}
