.wrapper {
    margin: 10rem 0;
}
.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 0 auto;
    grid-auto-rows: 300px;
    grid-gap: 1rem;
}

.content div {
    background-color: rgb(58, 255, 41);
}

.box0 {
    grid-column: span 2;
}

.box5 {
    grid-column: span 2;
}

/* .content:first-child {
    grid-column: span 2;
} */

/* .content:nth-child(6) { 
    grid-column-start: span 2;
} */


