.wrapper {
    margin: auto 8rem;
}

.contentContainer {
    display: grid;
    width: 100%;
    gap: 2rem 1rem;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
    margin-bottom: 8rem;
}

.sidebar {
    border-bottom: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    margin-right: 5rem;
}

.item {
    height: 300px;
    cursor: pointer;
}

@media (max-width: 700px) {

    .wrapper {
        margin: auto 1rem;
    }

    .sidebar {
        grid-column: span 4;
        border-right: 0;
        margin-right: 0;
    }

    .item {
        height: 190px;
    }

    .contentContainer {
        /* gap: 2rem 1rem; */
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
        font-size: 0.6rem;
        margin-bottom: 3rem;
    }

}