.wrapper {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
}

.imageContainer {
    display: grid;
    grid-template-columns: 15% 1fr;
    gap: 1rem;
    align-items: start;
    margin-top: 2rem;
}

.image1 {
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin: 1rem auto;
    border: 1px solid #c5c5c5;
    transition: all .2s;
}

.image1:hover {
    border: 1px solid #464646;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 450px;
    margin-top: 1rem;
}

/* CONTENT SECTION */

.contentContainer {
    padding-left: 2rem;
    overflow-y: hidden;
}

.header h1 {
    margin-bottom: 0;
    /* text-transform: uppercase; */
}

.price {
    /* font-weight: bold; */
    font-size: 1.8rem;
}

.zoomImageWrapper {
    margin-top: 3rem;
}

.price p {
    margin: 10px auto;
    font-weight: bold;
    color: chocolate;
}

.topContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}


.size {
    width: 45%;
}

.size ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.size ul li {
    border: 1px solid black;
    width: fit-content;
    padding: .5rem .8rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 1rem;
}

.size ul li:hover {
    background-color: black;
    color: white;
}

.size ul li a:active {
    background-color: black;
    color: white;
}

.size ul li:focus {
    background-color: black;
    color: white;
}


.active {
    background-color: black;
    color: white;
}

.quantity {
    width: 60px;
    margin-top: 1.5rem;
}

.buttonContainer {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    margin: 1rem 0;
}

.buttonContainer div p {
    padding: 0 15px;
}

.availability {
    display: grid;
    grid-template-columns: 20px 1fr;
}

.availability p {
    padding-left: 3px;
}

.description {
    line-height: .8cm;
}

.descriptionContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.description {
    margin-left: 7.4rem;
    padding-top: 3rem;
}

.description p {
    padding-right: 2rem;
}

.otherInfo {
    padding: 2rem;
    /* border: 1px solid #585858; */
    background-color: antiquewhite;
    height: fit-content;
}

.colorItems {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.currentColor {
    border: 1px solid #000;
    transform: scale(1.2);
    cursor: pointer;
}

.colorItems li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 9px;
    position: relative;
    cursor: pointer;
}

.colorItems li:hover {
    transform: scale(1.2);
}

.colorItems li:hover > span {
    opacity: 1;
}

.colorItems li span {
    position: absolute;
    bottom: -100%;
    left: 50%;
    /* display: block; */
    font-size: .6rem;
    transition: opacity .5s;
    opacity: 0;
}

@media (max-width: 700px) {

    .wrapper {
        width: 100%;
        margin: 0 auto;
        min-height: 100vh;
    }

    .imageWrapper {
        width: 100%;
        height: 50vh;
        margin-top: 0;
        order: 0;
    }

    .zoomImageWrapper {
        order: 1;
        margin-top: 0;
        width: 60%;
        /* margin: 0 auto; */
        display: grid;
        gap: .3rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .contentContainer {
        padding-left: 1rem;
    }

    .header {
        font-size: .8rem;
        line-height: 1cm;
    }

    .image1 {
        width: 81px;
        height: 70px;
        margin: 0 auto;
    }

    .topContainer {
        grid-template-columns: 1fr;
    }

    .imageContainer {
        grid-template-columns: 1fr;
        margin-top: 0;
    }

    .descriptionContainer {
        grid-template-columns: 1fr;
    }

    .description {
        padding-top: 0;
        margin-left: 0;
        padding-left: 1rem;
    }

    .otherInfo {
        padding: 1rem;
    }

    .buttonContainer {
        width: 70%;
    }
    
    
}



@media (max-width: 1024px) and (min-width: 701px) {

    .wrapper {
        width: 100%;
        margin: 0 1rem;
        min-height: 100vh;
    }

    .imageContainer {
        grid-template-columns: 1fr;
        margin-top: 0;
    }

    .imageWrapper {
        width: 100%;
        height: 45vh;
        margin-top: 0;
        order: 0;
    }

    .zoomImageWrapper {
        order: 1;
        margin-top: 0;
        width: 60%;
        /* margin: 0 auto; */
        display: grid;
        gap: .3rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .header {
        font-size: .9rem;
        line-height: 1cm;
    }

    .description {
        padding-top: 0;
        margin-left: 0;
        padding-left: 1rem;
    }

    .otherInfo {
        padding: 1rem;
    }

    .buttonContainer {
        width: 70%;
    }
    
}