.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #f5ad0c;
    align-items: center;
}

.imageContainer {
    margin-left: 1rem;
}

.contentContainer {
    padding-left: 1rem;
}

.buttonContainer {
    margin: 0 auto;
}