.wrapper {
    background-color: blanchedalmond;
    padding: 5rem 0;
    position: relative;
  }
  
  .contentWrapper {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #ffffff;
    transition: all 1s;
    display: grid;
    grid-template-columns: 10fr 1fr;
  }
  
  .itemsWrapper {
    border: 1px solid #eaeaea;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .paymentDetails {
    padding: 2rem;
    background-color: #b0c4de91;
    overflow-x: hidden;
    position: relative;
  }
  
  .paystackContainer {
      position: absolute;
      top: 40%;
      left: 50%;
      width: 69%;
      transition: opacity 1s;
      transform: translate(-50%, -50%);
      opacity: 0;
  }
  
  .orderSummary {
    padding: 2rem;
    display: grid;
    transition: all 1s;
    grid-template-columns: 1fr 1fr;
    /* padding-left: 3rem; */
  }
  
  .buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    width: fit-content;
}

.buttonContainer div:not(:first-child) {
    background-color: transparent;
    color: chocolate;
}

.contactInfo {
    padding-left: 3rem;
}

.contactInfo h3 {
    padding: .5rem;
    background-color: #d2ddec;
    width: fit-content;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.contactInfo ul {
    list-style: square;
}

.closeButton {
    position: absolute;
    cursor: pointer;
    top: 2%;
    right: 4%;
    padding: .8rem 1.2rem;
    background-color: rgba(0, 0, 0, 0.527);
    color: #ffffff;
    border-radius: 100%;
    transition: all 1s;;
    text-transform: uppercase;
    z-index: 50;
}

.totalContainer {
    border-left: 2px solid #a8a8a8;
    margin-top: 3rem;
    font-size: 1rem;
    background-color: #ebebeb;
    padding: .2rem .8rem;
}

.totalContainer h1 {
    padding-left: 1rem;
    font-weight: bold;
}
  
  @keyframes login-info-slide-down {
    0% {
      opacity: 0;
      visibility: hidden;
      top: -5%;
    }
    100% {
      visibility: visible;
      top: 1%;
      opacity: 1;
    }
  }
  

  @media (max-width: 700px) {
    .wrapper {
      padding: 0;
    }
  
    .contentWrapper {
      width: 100%;
      grid-template-columns: 1fr;
    }
  
    .addressContainer {
      width: 100%;
      height: auto;
    }
  }
  