.wrapper {
    display: grid;
    grid-template-columns: 1.3fr 4fr 1fr;
    align-items: start;
    margin: 1rem 0;
    padding-left: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    /* background-color: red; */
}

.wrapper:hover > .contentContainer > .quantityContainer > .qtyText  .editButton {
    display: block;
}

.contentContainer {
    /* background-color: #6d6d6d; */
    justify-content: center;
    justify-items: center;
}

.contentContainer span {
    font-size: .9rem;
}

.heading4 {
    margin: 0;
}

.quantityContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: fit-content;
}

.qtyText {
    position: relative;
}

.qtyText p {
    margin-left: 10px;
    background-color: #323232;
    color: #e3e3e3;
    padding: 2px 10px;
    border-radius: 5px;
    width: fit-content;
}

.editButton {
    position: absolute;
    top: 46%;
    left: 67%;
    font-size: 14px;
    cursor: pointer;
    display: none;
    animation: displayEditBtn 1.2s ease 0s;
    animation-fill-mode: forwards;
    visibility: hidden;
    transition: all 1s ease;
    opacity: 0;
}

@keyframes displayEditBtn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.updateWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    align-items: center;
}

.inputContainer input {
    width: 45px;
    height: 31px;
}

.updateContainer span {
    padding: 5px;
    border-radius: 5px;
    background-color: #0079cf;
    color: #e3e3e3;
    cursor: pointer;
    font-size: 14px;
}


.close {
    text-align: right;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.close p {
    font-weight: bold;
    margin-bottom: .2rem;
    cursor: pointer;
}

.imageContainer {
    margin-top: .5rem;
}








/* MEDIA QUERIES */


@media (max-width: 700px) {
    .wrapper {
        /* padding-left: 0; */
    }

    .contentContainer {
        padding-left: 10px;
        font-size: .8rem;
    }

    .qtyText {
        font-size: .7rem;
    }
}