.inputContainer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    width: 7.5rem;
    border: 1px solid #000000;
    align-items: center;
    justify-items: center;
    border-radius: 2px;
    height: 2rem;
}

.inputContainer input {
    height: 100%;
    width: 100%;
    align-items: center;
    border: none;
    border-right: 1px solid #eaeaea;
    border-radius: 0;
}

.inputContainer input {
    border: none;
}

.increaseBtn, .decreaseBtn {
    width: 100%;
    height: 100%;
}

.increaseBtn {
    border-left: 1px solid #6d6d6d;
}

.decreaseBtn {
    border-right: 1px solid #6d6d6d;
}