.wrapper {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    align-items: start;
    margin: 1rem 0;
    padding-left: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    /* background-color: red; */
}

.contentContainer {
    /* background-color: #6d6d6d; */
    justify-content: center;
    justify-items: center;
}

.contentContainer span {
    font-size: .9rem;
}

.heading4 {
    margin: 0;
}

.inputContainer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    width: 7.5rem;
    border: 1px solid #c1c1c1;
    align-items: center;
    border-radius: 2px;
    height: 2rem;
}

.inputContainer input {
    height: 100%;
    width: 100%;
    align-items: center;
    border: none;
    border-right: 1px solid #eaeaea;
    border-radius: 0;
}

.inputContainer input {
    border: none;
}

.increaseBtn, .decreaseBtn {
    width: 100%;
    height: 100%;
}

.increaseBtn {
    border-left: 1px solid #6d6d6d;
    text-align: center;
    cursor: pointer;
}

.decreaseBtn {
    border-right: 1px solid #6d6d6d;
    text-align: center;
    cursor: pointer;
}

.close {
    text-align: right;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.close p {
    font-weight: bold;
    margin-bottom: .2rem;
}

.imageContainer {
    margin-top: .5rem;
}