.wrapper {
    margin: 5rem 0;
    height: 60vh;
    width: 100%;
    position: relative;
}

.contentContainer {
    height: 80%;
    width: 30%;
    background-color: white;
    position: absolute;
    left: 3%;
    top: 10%;
    padding: 2rem;
    overflow-y: scroll;
    padding-top: 3rem;
}

.contentContainer::-webkit-scrollbar {
    width: 6px;
  }
  
.contentContainer::-webkit-scrollbar-track {
    background: none;
}

.contentContainer::-webkit-scrollbar-thumb {
    background: #c5c4c1; 
}

.imageContainer {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 0;
    right: 0;
    border-bottom-left-radius: 50px;
    z-index: 1;
}

.imageContainer img {
    border-bottom-left-radius: 80%;

}

.contentContainer span {
    font-size: .8rem;
}

.contentContainer h3 span {
    font-size: 1rem;
    color: #0087ff;
}

.contentContainer h3 {
    text-transform: uppercase;
}

.contentContainer p {
    line-height: .8cm;
    margin-bottom: 3rem;
    font-size: 1rem;
    text-align: justify;
}


@media (max-width: 700px) {

    .contentContainer {
        width: 80%;
        background-color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem;
    }

    .contentContainer p {
        font-size: 0.8rem;
    }

}