.wrapper h3 {
    padding: .5rem;
    background-color: #d2ddec;
    width: fit-content;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.itemsContainer {
    font-size: .9rem;
}

.itemsContainer div:nth-child(even) {
    background-color: rgb(243, 243, 243);
}

.itemsContainer div:nth-child(odd) {
    background-color: rgb(243 243 243 / 46%);
}

.breakdown {
    background-color: coral;
    width: fit-content;
}

.detailsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    margin-bottom: 1rem;

}

.imageContainer {
    background-color: red;
    position: relative;
}