@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: 'Tajawal', sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background: rgb(252, 195, 120); 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
